<div class="container">
   
    <div class="col-lg-8 border p-3 main-section bg-white">
        <div class="alert alert-success alert-dismissible fade show" [hidden]="!blnProductWasAddedToCart" role="alert">
            Product was added to the cart
            <button type="button" class="btn-close"  (click)="closeAlert()"></button>
          </div>
        <form [formGroup]="itemForm">
            <div class="row ">
               
                <div class="col-lg-4 left-side-product-box pb-3">
                    <img src="{{product.src_image}}" class="">

                </div>
                <div class="col-lg-8">
                    <div class="right-side-pro-detail border p-3 m-0">
                       
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="m-0 p-0">{{product.name}}</p>
                            </div>
                            <div class="col-lg-12">
                                <p class="m-0 p-0 price-pro">${{product.price}}</p>
                                <hr class="p-0 m-0">
                            </div>
                            <div class="col-lg-12 pt-2">
                                <h5>Product Details</h5>
                                <span>{{product.extra_info}}</span>
                                <hr class="m-0 pt-2 mt-2">
                            </div>
                            <div class="col-lg-12 itemForm">
                                <h6>Quantity :</h6>
                                <input type="number" value="1" class="form-control text-center w-100"
                                    formControlName="quantity" min="1">
                            </div>
                            <div class="col-lg-12 mt-3">
                                <div class="row">
                                    <div class="col-lg-6 pb-2">
                                        <a (click)="AddItemtoCart(product.id)" class="btn  w-100" type="submit">Add To
                                            Cart</a>
                                    </div>
                                    <div class="col-lg-6 pb-2">
                                        <a (click)="AddItemToFavourites(product.id)" class="btn  w-100" type="submit">Add To
                                            favourites</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>