.custom-navbar{
    background-color: #4FBDBA !important;
    height: 10vh;
   font-family: Arial, Helvetica, sans-serif;
    
}
.dropdown-menu{
    background-color: #4FBDBA;
}
.dropdown-item{
    background-color: #4FBDBA;
    padding-bottom: 2px;
}
.navbar-collapse{
    background-color: #4FBDBA;
    border-color: #072227;
    border-width: 0.2cm;
    border-radius: 5px;
}
.search-form{
    padding-right: 200px;
}
.search-input{
    width: auto !important;
    
}
.btn{
    background-color: #4FBDBA;
}
