<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-navbar navbar-text">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">{{options[0]}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">{{options[1]}}</a>
        </li>
        <div *ngIf="isLoggedIn;">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/favourites']">{{options[2]}}</a>
          </li>
        </div>

      </ul>
      <form [formGroup]="searchForm" class="form-inline d-flex search-form">
        <input class="form-control  search-input" type="search" placeholder="search for products"
          aria-label="Search" formControlName="keyword">
        <button (click)="searchProducts()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div *ngIf="isLoggedIn; else elseBlock">
        <app-account-card [currentUser]="currentUser">
        </app-account-card>
      </div>
      <ng-template #elseBlock>
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/login']">Log in</a></li>
              <li><a class="dropdown-item" [routerLink]="['/register']">Register</a></li>
            </ul>
          </li>
        </ul>
      </ng-template>





    </div>

  </div>

</nav>