<div class="container">
    <div class="row ">
      <div class=" card-product col-sm-4 col-md-3 col-lg-2  d-flex flex-column  justify-content-between my-5 shadow py-2"
        *ngFor="let product of products">
        <div class="flex-item-1 d-flex justify-content-center align-items-center">
          <img src="{{product.src_image}}" class="w-100 actual-image ">
        </div>
        <div class="flex-item-2 d-flex flex-column justify-content-between align-items-center">
          <div product-name>
            <h5 class="text-center">{{product.name}}</h5>
          </div>
          <div product-price-info>
            <h5 class="text-center price">{{product.price | currency}}</h5>
            <a class="btn buy" (click)="addProductToCart(product.id)">Add to cart</a>
          </div>
        </div>
        <a [routerLink]="['/productDetails', product.id]">
          <div class="overlay">
            <div class="detail">Details</div>
          </div>
        </a>
      </div>
    </div>
  </div>