 <!-- Start Banner Hero -->
 <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="./assets/img/mouse.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left align-self-center">
                          <h1 class="h1 text-success"><b>Louigis</b></h1>
                          <h3 class="h2">THE PERFECT PLACE TO MEET WITH TECHNOLOGY</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="./assets/img/fiio.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1">THE BEST HI-FI PRODUCTS FROM FIIO</h1>
                          
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container">
              <div class="row p-5">
                  <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                      <img class="img-fluid" src="./assets/img/jbl.png" alt="">
                  </div>
                  <div class="col-lg-6 mb-0 d-flex align-items-center">
                      <div class="text-align-left">
                          <h1 class="h1">NEW JBL 400BT</h1>
                          <h3 class="h2">HI-FI SOUND QUALITY</h3>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  
</div>
<!-- End Banner Hero -->

<app-products></app-products>