<ul class="navbar-nav ">
  <li class="d-flex nav-item cart justify-content-start  align-items-center">
    <a [routerLink]="['/cart']">
       <img src="../../../assets/img/sc.png" alt="" height="30px" width="30px" >
    </a> 
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../assets/img/nouser.png" alt="" width="30px" height="30px" class=" ">{{currentUser.FirstName}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
      <li><a class="dropdown-item" [routerLink]="['/account']">See account</a></li>
      <li><a class="dropdown-item" (click)="logOut()" >Log out</a></li>
    </ul>
  </li>
</ul>


